<html>



<head>
<title>Home Page</title>
</head>



<body>

<h1>This is the index page</h1>
there's supposed to be some titles here

<form method="POST">
      <input type="text" name="name" value="Name">
      <br>
      <input type="text" name="title" value="Blog Post Title" size="50">
      <br>
      <textarea name="blogpost" cols="100" rows="25">
Enter your blog post here!!
      </textarea>
      <br>
      <input type="submit" name="b" value="submit">
      <input type="submit" name="b" value="cancel">
      
    </form>

</body>



</html>
