<!DOCTYPE html>
<html>
<head>
<title>LOGIN</title>
 <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
 <style type="text/css">
   h1{
   color: #ff9989;
   font-size:36px;
   text-align: center;
   margin-top:25%;
   }
   h3{
   color: #ff9989;
   font-size:24px;
   text-align: center;
   }
   button{
   }
   #info{
   margin:5px auto;
   width:65%
   }
   #actual-blog{
   height: 460;
   width:100%
   }
 </style>
  </head>
  <body style="background-color: #e95038">
    <div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
    <h1>LOGIN</h1>
    <center>
    <form method="POST">
      <input type="text" name="username" placeholder="USERNAME"><br>
      <input type="password" name="password" placeholder="Password"><br>
      <button style="color: #2aad52" type="submit" name="b" value="Login">Login</button><br>
      <p>{{message}}</p>
      <br>
      <br>
      <h3>Don't have an account with us? Register now!</h3>
      <button style="color: #2aad52" type="submit" name="b" value="Register">Register</button>
    </form>
    </center>
    <br>
    <p>{{message}}</p>
    </div>
    </center>
    </div>
    <div class="pure-u-1-5"></div>
  </body>
  
</html>
