<!DOCTYPE html>
{% block content %} 
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>{{name}}</title>
    <style type="text/css">
   body{
   background-color: #CA2E15;
   }    
   h1{
   color: #FD7B67;
   font-size:48px;
   text-align: center;
   margin-top:5%;
   }
   p{
   color: #E6513A;
   font-size:24px;
   text-align: center;
   }
   input{
   margin:2px auto;
   }
   button{
   margin:5px auto;
   color: #109538
   }
   #info{
   margin:5px auto;
   width:65%
   }
   #actual-blog{
   height: 460;
   width:100%
}
 </style>
</head>
<body>	
<h1>Welcome {{name}}</h1>
{% for val in links.split('localhost:5000/ind/') %}

<p><a href="localhost:5000/ind/{{val}}"> {{val}} </a></p>
<center>
</form>
</center>
{% endfor %}
<form method="POST">
  <button class="pure-button pure-button-active center" type="submit" name="b" value="New_Post">New Post</button>
</body>
{% endblock %}
</html>
